parameters:
	ignoreErrors:
		- '#Constructor in WyriHaximus\\React\\Http\\Middleware\\FastRouteMiddleware has parameter \$notAllowedHandler with default value.#'
		- '#Constructor in WyriHaximus\\React\\Http\\Middleware\\FastRouteMiddleware has parameter \$notFoundHandler with default value.#'
		- '#Method WyriHaximus\\React\\Http\\Middleware\\FastRouteMiddleware::__construct\(\) has parameter \$notAllowedHandler with a nullable type declaration.#'
		- '#Method WyriHaximus\\React\\Http\\Middleware\\FastRouteMiddleware::__construct\(\) has parameter \$notAllowedHandler with null as default value.#'
		- '#Method WyriHaximus\\React\\Http\\Middleware\\FastRouteMiddleware::__construct\(\) has parameter \$notFoundHandler with a nullable type declaration.#'
		- '#Method WyriHaximus\\React\\Http\\Middleware\\FastRouteMiddleware::__construct\(\) has parameter \$notFoundHandler with null as default value.#'
		- '#Parameter \#1 \$obj of function spl_object_hash expects object, callable given.#'
		- '#Closure has parameter \$notFoundHandler with a nullable type declaration.#'
		- '#Closure has parameter \$notAllowedHandler with a nullable type declaration.#'
	classesAllowedToBeExtended:
		- Exception
		- RingCentral\Psr7\Response
includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon
